@import "tailwindcss";

:root {
  --main-color: #4346ef;
  --secondary-color: #8524e5;
  --title-color: #0f1729;
  --tetx-color: #6b7280;
  --display-color: #e5e7eb;
}

html {
  font-size: 62.5%;
}

@layer components {
  .container {
    @apply w-full  w-full
      mx-auto
      px-4
      sm:px-6
      lg:px-8
      max-w-[1280px];
  }
}
