@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #4346ef;
  --color-secondary: #8524e5;
  --color-background: #f9fafb;
  --color-background-alt: #e5e7eb;
  --color-text: #6b7280;
  --color-title: #0f1729;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.link_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.link_box:hover {
  color: var(--color-background);
  background-color: var(--color-primary);
}
