@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #4346ef;
  --color-secondars: #8524e5;
  --color-title: #0f1729;
  --color-text: #6b7280;
  --color-bg: #f1f1fe;
}

.container {
  margin: 0 auto;
  max-width: 1236px;
  padding-left: 10px;
  padding-right: 10px;
}

.connect_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  border-radius: 50%;
  transition: all 0.8s;
}

.connect_box:hover {
  cursor: pointer;
  background: var(--color-primary);
  color: white;
}
