@import "tailwindcss";

:root {
  --main-color: #4346ef;
  --main-color-alt: #8524e5;
  --title-color: #0f1729;
  --text-color: #6b7280;
  --bg-color: #e5e7eb;
}

.container {
  max-width: 100%;
  width: 1236px;
  padding: 0 10px;
  margin: 0 auto;
}
